
/* CSS Document */
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.section1{
	width:100%;
    height:120vh;
    background-image:url("ryanf.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y: 60px ;
    background-position-x: 180px;
	
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
	
}
nav ul{
    display: flex;
   
}
.toggle{
	display: none;
}
 
nav ul li a{
   
	margin:30px;
	font-family:arial;
	color:#505050;
	font-size: 15px;
	font-weight:700;
}
.logo{
	font-family: Ravie;
	color:#000000;
	font-size: 15px;
}

.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
	
}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}

.hire-btn{
	border:2px solid #373636;
	color:#373636;
	background-color:transparent;
	
}
.down-cv{
	background-color:#0B0B0B;
	color:#fff;	
	border:none;
}
button:active{
	transform:scale(1.1);
}

.about-container{
	width:85%;
	height:330px;
	background:#ffffff;
	border-radius:10px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:400px;
} 

.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}

.hobbies{
	height:450px;
	background-color:#ffffff;
	padding: 2% 10% 0px 10%;
}


.box-container{
	display:flex;
	justify-content:space-between;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 4px;
	
	
}
 
.box-1 p,
.box-2 p,
.box-3 p{
	font-family: calibri;
	color:#fcfcfc;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width:100px;
	height:30px;
	background-color:#ee8787;
	border:none;
	outline: none;
	border-radius:5px;
}
.contact-me{
	width: 100%;
	height:200px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.contact-me p{
	color:#FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight:bold;
	border-bottom:2px solid #ffffff;
}
.contact-me button{
	width:200px;
	height:40px;
	background-color: #FFFFFF;
	border:none;
	outline:none;
	font-size:14px;
	font-weight:bold;
}


footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
 
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}

/*about me */
.aboutme-container{
	width:85%;
	height:330px;
	background:#ffffff;
	border-radius:10px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:400px;
} 

.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}
/*aboutme.html*/

.aboutme-container{
	width:85%;
	height:330px;
	background:#ffffff;
	border-radius:10px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 20px  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.aboutme-container img{
	height:250px;
}
.aboutme-text{
	width:400px;
} 

/*family.html*/

.aboutfamily-container{
	width:85%;
	height:330px;
	background:#ffffff;
	border-radius:10px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 20px  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.aboutfamily-container img{
	height:250px;
}
.aboutfamily-text{
	width:400px;
} 

/*friends.html*/

.aboutfriends-container{
	width:85%;
	height:330px;
	background:#ffffff;
	border-radius:10px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: 20px  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.aboutfriends-container img{
	height:250px;
}
.aboutfriends-text{
	width:400px;
} 

/*contact me/css file*/
.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 350px;
	width: 100%;
	background: rgb(20, 20, 20);
	padding: 25px;
	border-radius: 5px;
	box-shadow: 4px 4px 2px rgba(254,236,164,1); 
  }
  
  .wrapper h2{
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #f7f6f4;
  }
  
  .wrapper .input_field{
	margin-bottom: 10px;
  }
  
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
	border: 1px solid #e0e0e0;
	width: 100%;
	padding: 10px;
  }
  
  .wrapper textarea{
	resize: none;
	height: 80px;
  }
  
  .wrapper .btn input[type="submit"]{
	border: 0px;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	width: 100%;
	background:green;
	color: #332902;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
  }
  
  #error_message{
	margin-bottom: 20px;
	background: #fe8b8e;
	padding: 0px;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
  }

